---
layout: default
---

<script>var lanTag = {};</script>

<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2 pure-u-md-1-2 pure-u-sm-1">
    <div class="block" style="font-size:1em;margin:10px">
      <div class="block_tag">LeetCode 笔记({{ site.algorithms | where: 'hide',null | size }})<span class="switch-leetcode-language" onclick="switchLeetcodeLanguage()">切换语言</span><a class="switch-leetcode-language" style="right: 20px;position: absolute;" href="/algorithm">切换视图</a></div>
      <ul>
          {% assign sorted_post = site.algorithms | sort: 'date' | reverse %}
          {% for post in sorted_post %}
<!--              <script>console.log({{ post | jsonify }})</script>-->
              {% if post.hide %}
              {% continue %}
              {% endif %}
              <li class="pure-g">
                <div class="pure-u-1" style="white-space: nowrap;text-overflow: ellipsis;">
                  <div class="pure-g">
                    <div class="pure-u-3-24">
                      {% if post.leetcode_id %}
                        <div class="algorithm_id" alg-type="leetcode" onclick="openLeetcode('{{ post.leetcode_id }}')">
                          <span>{{ post.leetcode_id }}</span>
                        </div>
                      {% elsif post.lintcode_id %}
                        <div class="algorithm_id" alg-type="lintcode" alg-difficult="{{ post.difficult }}" onclick="openLintcode('{{ post.lintcode_id }}')">
                          <span>{{ post.lintcode_id }}</span>
                        </div>
                      {% elsif post.interview_origin %}
                        <div class="algorithm_id" alg-type="other" alg-difficult="{{ post.difficult }}">
                          <span>{{ post.interview_origin }}</span>
                        </div>
                      {% else %}
                        <div class="algorithm_id" alg-type="method" alg-difficult="{{ post.difficult }}">
                          <span>方法</span>
                        </div>
                      {% endif%}
                    </div>
                    <div class="pure-u-18-24" style="margin-left:5px;">
                      {% if post.leetcode_id %}
                        <a class="leetcode-title" leetcodeId="{{ post.leetcode_id }}" href="{{ post.url }}" style="margin-left: 5px;"></a>
                      {% elsif post.lintcode_id %}
                        <a class="lintcode-title" lintcodeId="{{ post.leetcode_id }}" href="{{ post.url }}" style="margin-left: 5px;">[lintcode]{{ post.title }}</a>
                      {% else %}
                        <a class="other-title" leetcodeId="{{ post.leetcode_id }}" href="{{ post.url }}" style="margin-left: 5px;">{{ post.title }}</a>
                      {% endif%}
                    </div>
                  </div>
                  <div style="position: absolute;font-size: 10px;left: 16px; font-family: 'Iosevka Web',serif">
                    <span>{{ post.date | date:"%Y-%m-%d" }}</span>
                  </div>
                  <div leetcodeId="{{ post.leetcode_id }}" class="category">
                    {% assign lan = "" | split: "," %}
                    {% if post.content contains "```rust" %}
                      {% assign rust = "Rust" | split: "," %}
                      {% assign lan = lan | concat: rust %}
                    {% endif %}
                    {% if post.content contains "```java" %}
                      {% assign java = "Java" | split: "," %}
                      {% assign lan = lan | concat: java %}
                    {% endif %}
                    {% if post.content contains "```js" %}
                      {% assign js = "javascript" | split: "," %}
                      {% assign lan = lan | concat: js %}
                    {% endif %}
                    {% if post.content contains "```c++" %}
                      {% assign cpp = "C++" | split: "," %}
                      {% assign lan = lan | concat: cpp %}
                    {% endif %}
                    {% assign len = lan | size %}
                    {% if len > 0 %}
                      {% assign lan = lan | join: " & " %}
                      {{ lan  }}
                    {% endif %}
                    <span style="border:none;padding: 1px;position: inherit;"></span>
                  </div>
                </div>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  let algList = document.querySelectorAll('.algorithm_id');
  for (let item of algList) {
    let problem = leetcodeProblemGroup[item.innerText];
    let algType = item.getAttribute('alg-type');
    if (algType === 'leetcode') {
      if (problem) {
        item.classList.add(`leetcode-${problem.difficult}`);
      } else {
        item.classList.add(`leetcode-other`);
      }
    } else if (algType === 'lintcode') {
      let difficult = item.getAttribute('alg-difficult');
      item.classList.add(`leetcode-${difficult}`);
    }
  }

  let curLan = 'cn';
  function switchLeetcodeLanguage() {
    let titleList = document.querySelectorAll('.leetcode-title');
    for (let item of titleList) {
      let problem = leetcodeProblemGroup[item.getAttribute('leetcodeid')];
      if (problem) {
        if (curLan === 'en') {
          item.innerText = problem.enTitle || problem.cnTitle;
        } else {
          item.innerText = problem.cnTitle || problem.enTitle;
        }
      }
    }
    if (curLan === 'cn') {
      curLan = 'en';
    } else {
      curLan = 'cn';
    }
  }
  switchLeetcodeLanguage();

  function openLeetcode(leetcodeId) {
    let problem = leetcodeProblemGroup[leetcodeId];
    if (problem) {
      window.open(`https://leetcode-cn.com/problems/${problem.url}`);
    }
  }

  function openLintcode(lintcodeId) {
    window.open(`https://www.lintcode.com/problem/${lintcodeId}`);
  }

  (function leetcodeTag() {
    let categoryList = document.querySelectorAll('.category');
    for (let category of categoryList) {
      let leetCodeId = category.getAttribute('leetcodeid');
      if (leetCodeId) {
        let problem = leetcodeProblemGroup[leetCodeId];
        if (problem) {
          let tags = findTagsByProblemId(Number.parseInt(leetCodeId));
          tags = tags.concat(lanTag[leetCodeId] || []);
          tags.forEach(t => {
            // removeExistsTag(t, category);
            let span = document.createElement('span');
            span.innerText = t;
            span.style = 'margin-right: 4px;';
            // category.insertAdjacentElement('afterbegin', span);
            category.appendChild(span);
          });
        }
      }
    }
  })();
</script>
