---
layout: default
---
<script >
    let div1 = document.getElementsByClassName('wrapper');
    div1[0].style.setProperty("max-width", document.body.clientWidth + "px");
    let div2 = document.getElementsByClassName('header_wrapper');
    div2[0].style.setProperty("max-width", document.body.clientWidth + "px");
</script>

<div class="block_tag">LeetCode 笔记  <a style="font-size: 16px;" href="/algorithm_list">列表视图</a></div>
<div id="mynetwork"></div>

<script>
    document.getElementById("mynetwork").style.setProperty("height", window.screen.availHeight - 200 + "px");
    var items = [];
    {% assign sorted_post = site.algorithms %}
    {% for post in sorted_post %}
    {
        let category = [];
        {% for cat in post.category %}
        category.push('{{ cat }}');
        {% endfor %}
        let id , type, label,
            title = `{{ post.title }}`;
        if (`{{ post.leetcode_id }}`) {
            id = `{{ post.leetcode_id }}`;
            type = 'LeetCode';
            label = id;
            if (leetcodeProblemGroup[id]) {
                title = leetcodeProblemGroup[id].cnTitle || leetcodeProblemGroup[id].enTitle;
            }
        } else if (`{{ post.method_id }}`) {
            id = `{{ post.method_id }}`;
            type = 'method'
            label = id;
        } else if (`{{ post.lintcode_id }}`) {
            id = `{{ post.lintcode_id }}`;
            type = 'LintCode'
            label = `{{ post.title }}`;
        }
        items.push({
            tag: `{{ post.tags[0] }}`,
            title,
            label,
            url: `{{ post.url }}`,
            id,
            type,
            parentId: `{{ post.parent_id | join: "," }}`.split(',').filter(a => a),
            difficult: '{{ post.difficult }}' || (leetcodeProblemGroup[id] ? leetcodeProblemGroup[id].difficult : '{{ post.difficult }}'),
            category
        });
    }
    {% endfor %}

    var methodNodes = [...new Set(items.flatMap(item => item.parentId))].filter(a => a && a.startsWith('__')).map(a => a.slice(2));

    var itemNodes = items.filter(i => !methodNodes.includes(i.id));

    var gNodes = [];

    itemNodes.forEach(t => {
        let group = t.tag;
        if (t.tag === 'leetcode' || t.tag === 'lintcode') {
            group = `leetcode_${t.difficult || 'easy'}`
        }
        gNodes.push({
            id: t.id,
            label: t.label,
            title: t.title || t.id,
            group
        });
    });

    methodNodes.forEach(t => {
        gNodes.push({
            id: t,
            label: t,
            title: t,
            group: '方法学习'
        });
    });

    // create an array with nodes
    var nodes = new visData.DataSet(gNodes);
    let isMethodNode = pid => pid && pid.startsWith('__');

    // create an array with edges
    var relations = [];
    items.forEach(t => {
        if (t.parentId && t.parentId.length > 0) {
            t.parentId.forEach(pid => {
                relations.push({
                    from: isMethodNode(pid) ? pid.slice(2) : pid,
                    to: isMethodNode(t.id) ? t.id.slice(2) : t.id,
                    smooth: {
                        type: (isMethodNode(pid) || isMethodNode(t.id)) ? 'continuous' : 'dynamic',
                        // roundness: 1,
                    },
                    chosen: {
                        edge: true,
                    },
                    width: isMethodNode(pid) ? 1 : 1,
                    dashes: isMethodNode(pid) ? [5, 5] : false,
                    color: {
                        color: isMethodNode(pid) ? 'rgba(140,141,141,0.6)' : 'rgb(50,82,129)',
                        highlight: isMethodNode(pid) ? 'rgba(140,141,141,0.6)' : 'rgb(50,82,129)',
                        inherit: false,
                        opacity: isMethodNode(pid) ? 0.3 : 0.7,
                    },
                    arrows: {
                        to: {
                            enabled: !isMethodNode(pid),
                        }
                    }
                });
            })
        }
    });
    relations = relations.filter(a => a);
    var edges = new visData.DataSet(relations);

    // create a network
    var container = document.getElementById("mynetwork");
    var data = {
        nodes: nodes,
        edges: edges,
    };
    var options = {
        nodes: {
            physics: true,
            shape: "box",
            scaling: {
                min: 10,
                max: 30,
                label: {
                    enabled: true,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
            },
            font: {
                size: 16
            },
            borderWidth: 1,
            borderWidthSelected: 1
        },
        interaction: {
            hideEdgesOnDrag: false,
            tooltipDelay: 200,
        },
        groups: {
            leetcode_easy: {
                color: {
                    border: 'rgb(0,153,74,0.9)',
                    background: 'rgb(0,153,74,0.4)',
                    highlight: {
                        border: 'rgb(0,153,74,0.9)',
                        background: 'rgba(0,153,117,0.4)',
                    }
                },
                borderWidth: 1,
            },
            leetcode_medium: {
                color: {
                    border: 'rgba(237,115,54,0.9)',
                    background: 'rgba(237,115,54,0.6)',
                    highlight: {
                        border: 'rgba(237,115,54,0.9)',
                        background: 'rgba(237,115,54,0.6)',
                    }
                },
                borderWidth: 1,
            },
            leetcode_hard: {
                color: {
                    border: 'rgba(198,0,0,0.66)',
                    background: 'rgba(198,0,0,0.66)',
                    highlight: {
                        border: 'rgba(198,0,0,0.66)',
                        background: 'rgba(198,0,0,0.66)',
                    }
                },
                borderWidth: 1,
            },
            方法学习: {
                color: {
                    border: 'rgba(181,185,201,0.9)',
                    background: 'rgba(181,185,201,0.7)',
                    highlight: {
                        border: 'rgba(181,185,201,0.9)',
                        background: 'rgba(181,185,201,0.7)',
                    }
                },
                borderWidth: 2,
            }
        },
        layout: {
            randomSeed: undefined,
            improvedLayout: true,
            clusterThreshold: 150,
            hierarchical: {
                enabled: false,
                levelSeparation: 150,
                nodeSpacing: 100,
                treeSpacing: 10,
                blockShifting: true,
                edgeMinimization: true,
                parentCentralization: true,
                direction: 'LR',        // UD, DU, LR, RL
                sortMethod: 'directed',  // hubsize, directed
                shakeTowards: 'roots'  // roots, leaves
            }
        }
    };

    var network = new vis.Network(container, data, options);

    network.on('doubleClick', function ({nodes}) {
        if (nodes.length > 0) {
            let nodeId = nodes[0];
            let item = items.find(i => i.id === nodeId);
            item && window.open(item.url);
        }
    })
</script>
