---
layout: default
---

<style type="text/css">
body {
		background-image:url({{ site.url }}/image/13.jpg); 
		background-repeat:no-repeat; 
		background-attachment:fixed;
		background-position:center;filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size:100% 100%;
			background-size:100% 100%;
	} 
    
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}



{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include pages_list %}
  </ul>
{% endfor %}
<script src="/js/post.js" type="text/javascript"></script>
