// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #2e6ea5;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 1000px;

$selection-bg:#8dc1d3;
$selection-cl:#ffffff;
h1 code, h2 code, h3 code, h4 code { color: #c7254e }
::selection {
background:$selection-bg;
color:$selection-cl;
}
::-moz-selection {
background:$selection-bg;
color:$selection-cl;
}
::-webkit-selection {
background:$selection-bg;
color:$selection-cl;
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
  // url('http://onk1k9bha.bkt.clouddn.com/OpenSans.woff') format('woff');
  url('/assets/font/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src:
  // url('http://onk1k9bha.bkt.clouddn.com/Dosis.woff') format('woff');
  url('/assets/font/Dosis.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:
  // url('http://onk1k9bha.bkt.clouddn.com/Inconsolata.woff') format('woff');
  url('/assets/font/Inconsolata.woff') format('woff');
  // url('http://onk1k9bha.bkt.clouddn.com/Inconsolata.woff2') format('woff2')  /* chrome、firefox */;
}


@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src:
  // local('Shadows Into Light'), local('ShadowsIntoLight'),
  url('/assets/font/ShadowsIntoLight.woff') format('woff');
  // url('http://onk1k9bha.bkt.clouddn.com/ShadowsIntoLight.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src:
  // local('Roboto Slab Light'), local('RobotoSlab-Light'),
  //  url('http://onk1k9bha.bkt.clouddn.com/RobotoSlabLight.woff') format('woff');
  url('/assets/font/RobotoSlabLight.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
  // url('http://onk1k9bha.bkt.clouddn.com/RobotSlabRegular.woff') format('woff');
  url('/assets/font/RobotSlabRegular.woff') format('woff');
}


// 参考byvoid的字体
$body-font: 'Open Sans','Helvetica Neue','Arial','Verdana','Lantinghei TC','Hiragino Kaku Gothic ProN','Heiti TC','MS Mincho','MingLiU',sans-serif;
$post-font: 'Open Sans','Helvetica Neue','Arial','Verdana','Hiragino Sans GB','STHeiti','SimSun',sans-serif;
$post-h: 'Dosis','Helvetica Neue','Arial','Verdana','Songti SC','STSong','SimSun',serif;


$title-font: 'Roboto Slab';
$blockquote-font: 'Inconsolata';
// $content-code-font: 'Roboto Slab';
$block-font: $post-font;
$algorithm_id-font: 'Inconsolata';
$logo-font: 'Shadows Into Light';
$menu-font: $body-font;
$block-tag-font: 'Roboto Slab';
$code-font: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
$date-font: 'Inconsolata';
