@import "../font/iosevka.css";

// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #2e6ea5;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 1000px;

$selection-bg: #8dc1d3;
$selection-cl: #ffffff;
h1 code, h2 code, h3 code, h4 code {
  color: #c7254e
}

::selection {
  background: $selection-bg;
  color: $selection-cl;
}

::-moz-selection {
  background: $selection-bg;
  color: $selection-cl;
}

::-webkit-selection {
  background: $selection-bg;
  color: $selection-cl;
}


$general: 'Iosevka Web';

$body-font: $general;
$post-font: $general;
$post-h: $general;

$title-font: $general;
$blockquote-font: $general;
$algorithm_id-font: $general;
$date-font: $general;


$block-font: $post-font;
$logo-font: 'Shadows Into Light';
$menu-font: $body-font;
$block-tag-font: $general;
$code-font: $general;
$about_font: $post-font;
