// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #EEEEEE;
$color-link: #2e6ea5;
$color-code: #00FF00;
$color-hire-white: #FEFEFE;
$color-hire-black: #272727;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// BREAKPOINTS
$br: 1000px;

h1 code, h2 code, h3 code, h4 code { color: #c7254e }


@font-face {
  font-family: 'siyuan regular';
  src: url('//at.alicdn.com/t/f27wbis2sn3wstt9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/f27wbis2sn3wstt9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/f27wbis2sn3wstt9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/f27wbis2sn3wstt9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/f27wbis2sn3wstt9.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'siyuan light';
  src: url('//at.alicdn.com/t/5bawekc78og8pvi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/5bawekc78og8pvi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/5bawekc78og8pvi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/5bawekc78og8pvi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/5bawekc78og8pvi.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
  url('http://onk1k9bha.bkt.clouddn.com/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src:
  url('http://onk1k9bha.bkt.clouddn.com/Dosis.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src:
  url('http://onk1k9bha.bkt.clouddn.com/Inconsolata.woff') format('woff');
  // url('http://onk1k9bha.bkt.clouddn.com/Inconsolata.woff2') format('woff2')  /* chrome、firefox */;
}


@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'),
  url('http://onk1k9bha.bkt.clouddn.com/ShadowsIntoLight.woff') format('woff');
}


// 参考byvoid的字体
$body-font: 'Open Sans','Helvetica Neue','Arial','Verdana','Lantinghei TC','Hiragino Kaku Gothic ProN','Heiti TC','MS Mincho','MingLiU',sans-serif;
$post-font: 'Open Sans','Helvetica Neue','Arial','Verdana','Hiragino Sans GB','STHeiti','SimSun',sans-serif;
$post-h: 'Dosis','Helvetica Neue','Arial','Verdana','Songti SC','STSong','SimSun',serif;

$title-font: $post-font;
$blockquote-font: 'Inconsolata';
$block-font: $post-font;
$logo-font: 'Shadows Into Light';
$menu-font: $body-font;
$block-tag-font: $body-font;
$code-font: Menlo,Monaco,Consolas,"Courier New",monospace;
$date-font: 'Inconsolata';
