---
layout: default
---
{% for tag in site.tags %}
  {% if site.data.oj contains tag[0] %}
    <legend style="
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;" id="{{ tag[0] }}">{{ tag[0] }}</legend>
    <ul>
    {% for post in tag[1] %}
      <li>
      <span class="date">{{ post.date | date:"%Y/%m/%d" }}</span>
       - <a href="{{ post.url }}{{ '#back' }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<!-- <ul>
    {% for post in site.posts %}
        {% if post.tags contains "oj" %}
        <li>
            <span class="date">{{ post.date | date:"%Y/%m/%d" }}</span> - <a href="{{ post.url }}{{ '#back' }}">{{ post.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul> -->
