<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="header_wrapper">
      <div class="pure-g header">
        <div class="pure-u-1 pure-u-md-10-24 pure-u-sm-12-24">
          <div class="pure-g">
            <div class="pure-u-7-24 pure-u-lg-6-24">
              <text>{{ site.name }}</text>
            </div>
            <!-- <div class="pure-u-17-24 pure-u-lg-18-24">
              <h4 class="shake-constant shake" style="padding-top: 20px;padding-left: 7px;animation-duration: 7s;">「基础不牢，地动山摇」</h4>
            </div> -->
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-14-24 pure-u-sm-12-24 menu">
          <div class="pure-menu pure-menu-horizontal">
              <ul class="pure-menu-list" style="text-align: left;">
                  <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                      <a class="pure-menu-link">Route</a>
                      <ul class="pure-menu-children">
                        {% for item in site.data.navigation %}
                          <li class="pure-menu-item"><a href="{{ item.url }}" class="pure-menu-link">{{ item.title }}</a></li>
                        {% endfor %}
                      </ul>
                  </li>
                  <li class="pure-menu-item"><a href="/me" class="pure-menu-link">About</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
        {{ content | replace_first:'id="markdown-toc"','class="post-toc" style="margin: 0px;"'}}
    </div>

</body>
<script>
    var links = document.querySelectorAll( '.post__content a' );
    // console.log(window.location.host + window.location.pathname)
    for (var i = 0, length = links.length; i < length; i++) {
      // console.log(i + links[i].host + links[i].pathname)
        if ((links[i].host + links[i].pathname) != (window.location.host + window.location.pathname)) {
            links[i].target = '_blank';
        }
    }
</script>
{% if site.baidu_verification %}
<script>
  var _hmt = _hmt || [];
  (function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?378f3cbce80b822c46a5aa3381a3acdd";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
  })();
</script>
{% endif %}

  <script>
  window.onload = function(){
      init()
      var all_scheme_code = $('pre.language-scheme')
      for (var i = 0; i < all_scheme_code.length; i++) {
          all_scheme_code[i].setAttribute('id','scm-' + i)
          var runner = document.createElement('input');
          runner.type = 'button'
          runner.value = '运行'
          runner.id = 'scm-' + i + '-runner';
          runner.style = 'margin-top: 10px'
          runner.onclick = (function (i) {
              return function () {
                  var code = document.querySelector('#scm-' + i + ' code').innerText
                  var eval_log = clickEval(code)
                  alert(eval_log)
                  // var onError = function(e){ console.error(e); }
                  // var biwa = new BiwaScheme.Interpreter(onError)
                  // var st = new Date()
                  // biwa.evaluate(code, function(result) {
                  //     var et = new Date()
                  //     var duration = "[Finished in " + (et - st)/1000 + " seconds]"
                  //     alert(result + "\n\n" + duration);  //=> 3
                  // });
              }
          })(i)
          all_scheme_code[i].appendChild(runner);
      }
  }
  </script>

  <script>
    var head = document.head,
      site = {
          home: head.dataset.home,
          api: head.dataset.api,
          img: head.dataset.img,
          tongji: head.dataset.tongji,
          analytics: head.dataset.analytics,
          emoji: '//assets-cdn.github.com/images/icons/emoji/unicode'
      },
      page = {
          layout: head.dataset.layout,
          title: head.dataset.title,
          url: location.pathname,
          // desc: document.querySelector('[name="description"]').content,
          id: head.dataset.id,
          category: head.dataset.category,
          // tags: head.dataset.tags.split(',')
      },
      browser = {
          macos: /Mac/i.test(navigator.platform),
          windows: /Win/i.test(navigator.platform),
          // mobile: /AppleWebKit.*Mobile.*/i.test(ua),
          // wechat: /MicroMessenger/i.test(ua),
      };
      var disq = new iDisqus('comment', {
          forum: 'ysmull',
          site: 'https://ysmull.cn',
          api: 'https://disqus.ysmull.cn/api/',
          title:  page.title,
          url: page.url,
          mode: 3,
          timeout: 3000,
          // popular: document.getElementById('popular-posts'),
          slug: page.url.slice(1).split('.')[0],
          init: true,
          toggle: 'comment-toggle',
          sort: 'newest',
          emoji_path: 'https://assets.github.com/images/icons/emoji/unicode/',
          emoji_preview: true,
          badge: '博主'
      });
  </script>
</html>
