---
layout: default
---
<script >
var div1 = document.getElementsByClassName('wrapper');
div1[0].style.setProperty("max-width","700px");
var div2 = document.getElementsByClassName('header_wrapper');
div2[0].style.setProperty("max-width","700px");
</script>

<div class="post">
	<div id="back" class="post__back">
    	<a href="/">&lt;-- home</a>
  </div>
  <div class="post__title">
  	<h1>{{ page.title }}</h1>
  </div>
  <div class="post__date">
  	<p>{{ page.date | date:"%Y/%m/%d" }}</p>
  </div>
  <div class="post__meta">
  	<p>{{ tags_content }}</p>
  </div>
  <div class="post__content"?>
      {{ content }}
  </div>
</div>
{% if page.math %}
<script async="async" src="http://cdn.mathjax.org/mathjax/2.1-latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
{% endif %}


<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="请将此处替换为配置SourceID的语句" ></div>
<script type="text/javascript">
(function(){
var appid = 'cysWdmiVA';
var conf = 'prod_2d112b398344b3a9e778a8ad0267da49';
var width = window.innerWidth || document.documentElement.clientWidth;
if (width < 960) {
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
