---
layout: default
comments: true
---
<script >
var div1 = document.getElementsByClassName('wrapper');
div1[0].style.setProperty("max-width","700px");
var div2 = document.getElementsByClassName('header_wrapper');
div2[0].style.setProperty("max-width","700px");
</script>

<div class="post">
	<div id="back" class="post__back">
		{% if page.tags contains "design_pattern" %}
    	<a href="/design_pattern">&lt;-- Design Pattern</a>
		{% else %}
			<a href="/">&lt;-- home</a>
		{% endif %}
  </div>
  <div class="post__title">
  	<h1>{{ page.title }}</h1>
  </div>
  <div class="post__date">
  	<p>{{ page.date | date:"%Y/%m/%d" }}</p>
  </div>
  <div class="post__meta">
  	<p>{{ tags_content }}</p>
  </div>
  <div class="post__content"?>
      {{ content }}
  </div>
</div>
{% if page.math %}
<script async="async" src="cdn.mathjax.org/mathjax/2.1-latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
{% endif %}

{% if site.comments %}
<div id="SOHUCS" sid="{{ page.date }}" ></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysWdmiVA',
conf: 'prod_2d112b398344b3a9e778a8ad0267da49'
});
</script>
{% endif %}

<script>
// 参考 https://github.com/fooleap/fooleap.github.io/blob/master/assets/js/main.js
var toc = document.querySelector('.post-toc');
// toc.offsetWidth = 170;
// console.log(toc.offsetWidth)
var subTitles = document.querySelectorAll('.post__content h2,h3');

var clientHeight = document.documentElement.clientHeight;
if (toc) {
    function tocShow() {
        var clientWidth = document.documentElement.clientWidth;
				// var tocFixed = clientWidth / 2 - 410 - toc.offsetWidth;
				var tocFixed = clientWidth / 2 - 370 - toc.offsetWidth;
				console.log(tocFixed)
				console.log(toc.offsetWidth)
				// console.log('clientWidth/2: ' + clientWidth / 2)
				// console.log('toc.offsetWidth: ' + toc.offsetWidth)
				// console.log('tocFixed: ' + tocFixed)
        if (tocFixed < 5) {
            toc.style.visibility = 'hidden';
        } else {
            toc.style.visibility = 'visible';
            toc.style.left = tocFixed + 'px';
        }
    }
    function tocScroll() {
				var sectionIds = [];
				var sections = [];
        for (var i = 0; i < subTitles.length; i++) {
            sectionIds.push(subTitles[i].getAttribute('id'));
            sections.push(subTitles[i].offsetTop);
        }
        var pos = document.documentElement.scrollTop || document.body.scrollTop;
        var lob = document.body.offsetHeight - subTitles[subTitles.length - 1].offsetTop;
				// console.log(pos)
				// console.log(sections)

        for (var i = 0; i < sections.length; i++) {
            if (i === subTitles.length - 1 && clientHeight > lob) {
                pos = pos + (clientHeight - lob);
            }
            if (sections[i] <= pos && sections[i] < pos + clientHeight) {
                if (document.querySelector('.active')) {
                    document.querySelector('.active').classList.remove('active');
                }
								var queryStr = '[href="#' + sectionIds[i] + '"]';
								// console.log(queryStr)
                document.querySelector(queryStr).classList.add('active');
            }
        }
    }
    document.addEventListener('scroll', tocScroll, false);
    window.addEventListener('resize', tocShow, false);
		// $(toc).ready(tocShow)
    tocShow();
}
</script>

<script>
// 参考资料、站外链接
(function(){

		var links = document.querySelectorAll('a');
		var reftag = document.querySelectorAll('h2')[document.querySelectorAll('h2').length - 1];
    if (reftag.innerHTML === '参考资料' || reftag.innerHTML.toString().toLowerCase() === 'reference' ) {
        reftag.insertAdjacentHTML('afterend', '<ol id="refs"></ol>');
    }
    for (var i = 0; i < links.length; i++) {
        if (links[i].hostname != location.hostname && /^javascript/.test(links[i].href) === false) {
            var numText = links[i].innerHTML;
            var num = numText.substring(1, numText.length - 1);
						console.log(numText)
						console.log(num)
            if (!isNaN(num) && num) {
                var note = 'note-' + num;
                var ref = 'ref-' + num;
                var noteTitle = links[i].getAttribute('title');
                var noteHref = links[i].getAttribute('href');
                links[i].setAttribute('href', '#' + note);
                links[i].setAttribute('id', ref);
                links[i].setAttribute('class', 'ref');
                document.getElementById('refs').insertAdjacentHTML('beforeend',
								 '<li id="' + note + '" class="note">' +
								//  '<text>' + num + '</text>' +
								 '<a href="#' + ref + '">^</a>' +
								 '<a href="' + noteHref + '" title="' + noteTitle + '" class="exf-text" target="_blank">' +
								 noteTitle +
								 '</a></li>');
            } else {
                links[i].setAttribute('target', '_blank');
            }
        }
    }
		var sort_by_name = function(a, b) {
				return a.id.split('-')[1].localeCompare(b.id.split('-')[1])
    }
		list = $('#refs > li').sort(sort_by_name);
		console.log(list)
		for (var i = 0; i < list.length; i++) {
        list[i].parentNode.appendChild(list[i]);
    }

})();
</script>
