---
layout: default
---


<div class="post">
    <div id="back" class="post__back">
        {% if page.tags contains "design_pattern" %}
            <a href="/design_pattern">&lt;-- Design Pattern</a>
        {% elsif page.tags contains "leetcode" %}
            <a href="/algorithm_list">&lt;-- algorithm</a>
        {% else %}
            <a href="/">&lt;-- home</a>
        {% endif %}
  </div>
  <div class="post__title">
      {% if page.leetcode_id %}
      <h1 id="originLeetcodeCnTitle"></h1>
      <br>
      <h1 id="originLeetcodeEnTitle" style="margin: 0;transform: translate(0px, -20px);font-size: 18px;font-weight: 300;"></h1>
      <br>
      <a id="originLeetcodeUrl" style="position: absolute;transform: translate(0px, -25px);" target="_blank">原题链接</a>
      {% else %}
      <h1>{{ page.title }}</h1>
      {% endif %}
  </div>
  <div class="post__date">
      <p>{{ page.date | date:"%Y/%m/%d" }}</p>
  </div>
  <div class="post__meta">
      <p>{{ tags_content }}</p>
  </div>
  <div class="post__content">
      {{ content }}
  </div>
  <div style="border-top: 1px solid #66666666;margin-top: 15px;margin-bottom: 15px;"></div>
<!--  <div>-->
<!--    <button class="pure-button pure-button-primary" onclick="expand_comment()">评论</button>-->
<!--    <span style="font-size: 14px;color: #7f919e;">感谢指教！</span>-->
<!--  </div>-->
  <div id="gitalk-container"></div>
</div>

<!--调整post区域的宽度-->
<script>
    let div1 = document.getElementsByClassName('wrapper');
    div1[0].style.setProperty("max-width","800px");
    let div2 = document.getElementsByClassName('header_wrapper');
    div2[0].style.setProperty("max-width","800px");
</script>

<!--侧边栏目录-->
<script>
    initToc();
</script>

<!--站外资料，引用-->
<script>
    initReference()
</script>

<!--gitalk评论区 & 文章同步-->
<script>
    let allTags = [];
    {% for tag in page.tags %}
    allTags.push('{{ tag }}');
    {% endfor %}
    (function expand_comment() {
        let body = `<div>原文链接: <a href="${location.href}">${location.href}</a></div><br>{{ content }}`;
        gitalk(location.pathname, '{{ page.title }}', allTags, body).render('gitalk-container');
    })()
</script>

<!--是否启用到数学公式渲染-->
{% if page.math %}
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
        }
    });
</script>
{% endif %}

<!--是否启用scheme语言的运行-->
{% if page.scheme %}
<script src="/assets/js/scheme.js"></script>
<script>
    window.onload = function(){
        init()
        let all_scheme_code = $('.language-scheme')
        for (var i = 0; i < all_scheme_code.length; i++) {
            all_scheme_code[i].setAttribute('id','scm-' + i)
            var runner = document.createElement('input');
            runner.type = 'button'
            runner.value = '运行'
            runner.id = 'scm-' + i + '-runner';
            runner.style = 'margin-top: 10px'
            runner.onclick = (function (i) {
                return function () {
                    var code = document.querySelector('#scm-' + i + ' code').innerText
                    var eval_log = clickEval(code)
                    alert(eval_log)
                    // var onError = function(e){ console.error(e); }
                    // var biwa = new BiwaScheme.Interpreter(onError)
                    // var st = new Date()
                    // biwa.evaluate(code, function(result) {
                    //     var et = new Date()
                    //     var duration = "[Finished in " + (et - st)/1000 + " seconds]"
                    //     alert(result + "\n\n" + duration);  //=> 3
                    // });
                }
            })(i)
            all_scheme_code[i].appendChild(runner);
        }
    }
</script>
{% endif %}

{% if page.leetcode_id %}
<script>
    let problem = leetcodeProblemGroup[`{{ page.leetcode_id }}`];
    if (problem) {
        let a = document.querySelector('#originLeetcodeUrl');
        a.href = `https://leetcode-cn.com/problems/${problem.url}`;

        let cnTitle = document.querySelector('#originLeetcodeCnTitle');
        cnTitle.innerText = `${problem.id}.${problem.cnTitle}`;
        let enTitle = document.querySelector('#originLeetcodeEnTitle');
        if (problem.cnTitle !== problem.enTitle) {
            if (problem.enTitle.includes('LCOF')) {
                enTitle.innerText = `剑指offer`;
            } else {
                enTitle.innerText = `${problem.enTitle}`;
            }
        }
    }
</script>
{% endif %}